{% extends 'daily/base.html' %}
{% load static %}
{% block includes %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'daily/daily.js' %}"></script>
  <link rel="stylesheet" type="text/css" href= "{% static 'css/category.css' %}"/>
{% endblock %}
{% block content %}
      <div class="container">
      <h1></h1>
        <div class="date-div starter-template">
      <form id="datepicker-form" method='POST' action="{% url 'schedule' %}">
        <p><input type="text" id="datepicker" value = '{{ date|date:"F d, Y" }}' name="date"></p>
        <span class="csrf">{% csrf_token %}</span>
      </form>
    </div>
    </div><!-- /.container -->      
    <!--<div id="daily-view">-->
      <div id="form-fields">
      {% if user.is_authenticated %}
      <button type="button" class="btn btn-primary btn-lg" id="new-proj-button" onclick="addProject()">New project</button>
      <!--<span class="csrf">{% csrf_token %}</span>-->
      <button type="button" class="btn btn-primary btn-lg"
        id="save-button" onclick="updateSchedule()">Save Changes</button>
      <input type="hidden" name="schedule" id="schedule"/>
    <div class="form-inline form-group" id="show_projects">
      <label for="show">Show:</label>
      <select class="form-control" name="show" id="show">
        <option value="INCMP">ongoing projects</option>
        <option value="CMP">completed projects</option>
        <option value="all">all projects</option>
      </select>
        <input type="hidden" name='date' value='{{ date|date:"F d, Y" }}'>
      </div> <!-- show_projects -->
  </div> 

      {% endif %}
        </div>
        <div class="h-box">
        <table class="table table-bordered" id="daily-table">
          <tbody>
            <tr>
              <td class="proj-id-td">  </td>
              <td>Project</td>
              <td>Employees</td>
              <td>Times</td>
              <td>Vehicles</td>
              <td>Phones</td>
              {% if user.is_authenticated %}
              <td>Done</td>
              {% endif %}
            </tr>
            {% if schedule %}
            {% for project in schedule.all %}
            <tr id={{ project.id }} class ="project {{project.status}}">
              <td class="proj-id-td">{{ project.id }}</td>
              <td class="name-td">{{ project.name }}</td>
              <td>
                <div class="daily-employee-list">
                <ol class='sortable_with_drop employee_list'>
                  {% for emp in project.employee.all %}
                  <li class="flex-li assigned-emp employee {% for c in emp.category.all %}{{ c.name }}{% endfor %}">{{ emp.name }}</li>
                  {% endfor %}
                </ol>
              </div>
            </td>
            <td id={{project.start_date.date}} class="time-td"><span>{{project.start_date|time:"g:i A"}}<span></td>
                  <td>
                <div class="daily-vehicle-list">
                <ol class='sortable_with_drop vehicle_list'>
                  {% for v in project.vehicle.all %}
                  <li class="flex-li assigned-vehicle vehicle">{{ v.name }}</li>
                  {% endfor %}
                </ol>
              </div>
              </td>
              <td>
                <div class="daily-phone-list">
                <ol class='sortable_with_drop phone_list'>
                  {% for tel in project.phone.all %}
                  <li class="flex-li assigned-tel telephone">{{ tel.number }}</li>
                  {% endfor %}
                </ol>
              </div>
              </td>
              {% if user.is_authenticated %}
              <td>
                <div class="checkbox">
                  <label class="chk-box">
                  {% if project.status == "CMP" %}
                  <input type="checkbox" checked=true class="chk-box">
                  {% else %}
                  <input type="checkbox" class="chk-box">
                  {% endif %} 
                </label>
              </div>
            </td>
            {% endif %}
            <!--
              <td>
                <button type="button" class="btn btn-sm btn-danger
                  delete">cancel project</button>
                <button type="button" class="btn btn-sm btn-info undo">Undo!</button>
              </td>
              -->
              {% endfor %}
              {% else %}
              <!--
                I'm making this invisible temporary row because the only way
                that the sources lists would be set up with a cloning feature when the schedule is initially empty is
                if the droppable lists (employee_list, phone_list, etc) were set up.. 
                otherwise you could drag from the sources list and the
                value wouldn't be cloned..
                -->
                <tr id="hidden-tmp-row">
                <td>
                  <div class="daily-employee-list">
                    <ol class='sortable_with_drop employee_list'></ol>
                  </div>
                </td>
                <td>
                  <div class="daily-phone-list">
                    <ol class='sortable_with_drop phone_list'></ol>
                  </div>
                </td>
                <td>
                  <div class="daily-phone-list">
                    <ol class='sortable_with_drop phone_list'></ol>
                  </div>
                </td>
              </tr>  
              {% endif %}
            </tbody>
          </table>
      {% if user.is_authenticated %}
          <div class='all-trash'>
          <ol class='trash employee_trash'>
            <li>
                <div class="lid"></div>
                <ol class='trash vehicle_trash'></ol>
                <div class="lidcap"></div>
                <ol class='trash phone_trash'></ol>
                <div class="bin"></div>
              </li>
            </ol>
          </div>
          <div class="v-box" id="sources">
              <h3>employees</h3>
            <ol class='sortable_with_no_drop' id="emps-source">
              {% for emp in emp_names.all %}
                  <li class="flex-li employee {% for c in emp.category.all %}{{ c.name }}{% endfor %}">{{ emp.name }}</li>
              {% endfor %}
            </ol>
            <h3>phones</h3>
            <ol class='sortable_with_no_drop' id="phones-source">
              {% for phone in phones.all %}
              <li class="flex-li telephone">{{ phone.number }}</li>
              {% endfor %}
            </ol>
            <h3>vehicles</h3>
            <ol class='sortable_with_no_drop' id="vehicles-source">
              {% for v in vehicles.all %}
              <li class="flex-li vehicle">{{ v.name }}</li>
              {% endfor %}
            </ol>
        </div>
        <!--   </div>-->
      {% endif %}
    </body>
    {% endblock %}
