{% extends 'daily/base.html' %}
{% load static %}
{% block includes %}
    <script type="text/javascript" src="{% static 'daily/daily.js' %}"></script>
{% endblock %}
{% block content %}
      <div class="container">

      <div class="starter-template">
        <h1 id="date">{{ date }}</h1>
      </div>

    </div><!-- /.container -->      
    <div id="daily-view">
        <div id="form-fields">
          <button type="button" class="btn btn-primary btn-lg" id="new-proj-button" onclick="addProject()">New project</button>
          <span class="csrf">{% csrf_token %}</span>
             <button type="button" class="btn btn-primary btn-lg"
              id="save-button" onclick="updateSchedule()">Save Changes</button>
            <input type="hidden" name="schedule" id="schedule"/>

        </div>
        <div class="h-box">
        <table class="table table-bordered" id="daily-table">
          <tbody>
            <tr>
              <td>  </td>
              <td>Project</td>
              <td>Employees</td>
              <td>Times</td>
              <td>Vehicles</td>
              <td>Phones</td>
            </tr>
            {% for project in schedule.all %}
            <tr class ="project">
              <td>{{ project.id }}</td>
              <td class="name-td">{{ project.name }}</td>
              <td>
                <ol class='sortable_with_drop employee_list'>
                  {% for emp in project.employee.all %}
                  <li class="flex-li employee">{{ emp.name }}</li>
                  {% endfor %}
                </ol>
              </td>
              <td class="time-td"><span>{{project.time|time:"g:i A"}}<span></td>
              <td>
                <ol class='sortable_with_drop vehicle_list'>
                  {% for v in project.vehicle.all %}
                  <li class="flex-li vehicle">{{ v.name }}</li>
                  {% endfor %}
                </ol>
              </td>
              <td>
                <ol class='sortable_with_drop phone_list'>
                  {% for tel in project.phone.all %}
                  <li class="flex-li telephone">{{ tel.number }}</li>
                  {% endfor %}
                </ol>
              </td>
              {% endfor %}
            </tbody>
          </table>
          <ol class='trash employee_trash'>
            <li>
                <div class="lid"></div>
                <ol class='trash vehicle_trash'></ol>
                <div class="lidcap"></div>
                <ol class='trash phone_trash'></ol>
                <div class="bin"></div>
              </li>
            </ol>
          <div class="v-box" id="sources">
            <h3>employees</h3>
            <ol class='sortable_with_no_drop' id="emps-source">
              {% for emp in emp_names.all %}
              <li class="flex-li employee">{{ emp.name }}</li>
              {% endfor %}
            </ol>
            <h3>phones</h3>
            <ol class='sortable_with_no_drop' id="phones-source">
              {% for phone in phones.all %}
              <li class="flex-li telephone">{{ phone.number }}</li>
              {% endfor %}
            </ol>
            <h3>vehicles</h3>
            <ol class='sortable_with_no_drop' id="vehicles-source">
              {% for v in vehicles.all %}
              <li class="flex-li vehicle">{{ v.name }}</li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </body>
    {% endblock %}
