<!DOCTYPE html>
{% load static %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <head>

      <script type="text/javascript" src="{% static 'daily/jquery.min.js' %}"></script>
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
      <link rel="stylesheet" type="text/css" href= "{% static 'daily/bootstrap.min.css' %}"/>
      <!-- Bootstrap theme -->
      <script src="{% static 'daily/bootstrap.min.js' %}"></script>
      <script src="{% static 'daily/docs.min.js' %}"></script>
      <script type = "text/javascript" src="{% static 'daily/jquery-sortable.js'%}"></script>
      <link rel="stylesheet" type="text/css" href= "{% static 'daily/jquery.timepicker.css' %}"/>
      <script type = "text/javascript" src="{% static 'daily/jquery.timepicker.js'%}"></script>
    
    </head>
    <body>
      <div id="daily-view">
        <button type="button" class="btn btn-primary btn-lg" onclick="addProject()">New project</button>
        <form method="post" action="new_project" onsubmit="saveProject()">
          {% csrf_token %}
          <button type="submit" class="btn btn-default">Submit</button>
          <input type="hidden" name="proj-name" id="proj-name"/>
          <input type="hidden" name="proj-time" id="proj-time"/>
          <input type="hidden" name="proj-emps" id="proj-emps"/>
          <input type="hidden" name="proj-phone" id="proj-phone"/>
        </form>
          <table class="table table-bordered" id="daily-table">
          <tbody>
            <tr>
              <td>#</td>
              <td>Project</td>
              <td>Time</td>
              <td>Employees</td>
              <td>Phones</td>
            </tr>
            {% for project in schedule.all %}
            <tr>
              <td></td>
              <td>{{ project.name }}</td>
              <td>{{ project.time }}</td>
              <td>
                <div class="container-fluid">
                  <ol class='nested_with_switch' id="emps">
                    {% for emp in project.employee.all %}
                    <li>{{ emp.name }}</li>
                    {% endfor %}
                  </ol>
                </div>
              </td>
              <td>
                <div class="container-fluid">
                  <ol class='nested_with_switch' id="tels">
                    {% for tel in project.phone.all %}
                    <li>{{ tel.number }}</li>
                    {% endfor %}
                  </ol>
                </div>
              </td>
              {% endfor %}
            </tbody>
          </table>
        </div>


        <style type="text/css">
          body {
            margin: auto;
            width: 50%;
          }
          body.dragging, body.dragging * {
            cursor: move !important;
          }

          .dragged {
            position: absolute;
            opacity: 0.5;
            z-index: 2000;
          }

          .item-list li.placeholder {
            position: relative;
          }

          .item-list li.placeholder:before { 
            position: absolute;
          }

          .item-list {
            min-height: 200px;
            border: 1px solid #eee;
          }

          ol.nested_with_switch li.placeholder {
            position: relative;
          }

          ol.nested_with_switch li.placeholder:before {
            position: absolute;
          }

        </style>

        <script>
          var e_names = {{ emp_names|safe }};
          
          function saveProject(){
            $('#proj-name').val($('#new-name').val());
            $('#proj-time').val($('#new-time').val());
            $('#proj-emps').val($('#new-emps').val());
            $('#proj-phone').val($('#new-phone').val());
            console.log($('#proj-name').val());
            console.log($('#proj-time').val());
            console.log($('#proj-emps').val());
            console.log($('#proj-phone').val());
          }

          function addProject() {
            $('#daily-table > tbody:last-child').append($('<tr>')
                .append($('<td>'))
                .append($('<td>')
                  .append($('<input type="text" id="new-name">')))
                .append($('<td>')
                  .append($('<input type="text" id="new-time" class="time ui-timepicker-input">')))
                .append($('<td>')
                  .append($('<div class="container-fluid">')
                    .append($("<ol class='nested_with_switch' id='emps_list'>"))))
                .append($('<td>')
                  .append($('<div class="container-fluid">')
                    .append($("<ol class='nested_with_switch' id='emps_list'>"))))
            );

            for (let e of e_names) {
              $('#emps_list').append($('<li>').append(e));
            }

            $('#new-name').focus();
            $('#new-time').timepicker({
              'step': function(i) {
                return (i%2) ? 15 : 45;
              }
            });

            var oldContainer;
            $("ol.nested_with_switch").sortable({
              group: 'nested',
              afterMove: function (placeholder, container) {
                if(oldContainer != container){
                  if(oldContainer){
                    oldContainer.el.removeClass("active");
                  }
                  container.el.addClass("active");
                  oldContainer = container;
                }
              },

              onDrop: function ($item, container, _super) {
                container.el.removeClass("active");
                 _super($item, container);
              }
            });

            $(".switch-container").on("click", ".switch", function  (e) {
              var method = $(this).hasClass("active") ? "enable" : "disable";
              $(e.delegateTarget).next().sortable(method);
            });
        }

              var oldContainer;
              $("ol.nested_with_switch").sortable({
                group: 'nested',
                afterMove: function (placeholder, container) {
                  if(oldContainer != container){
                    if(oldContainer){
                      oldContainer.el.removeClass("active");
                    }
                    container.el.addClass("active");
                    oldContainer = container;
                  }
                },

                onDrop: function ($item, container, _super) {
                  container.el.removeClass("active");
                  _super($item, container);
                }
              });

              $("ol.simple_with_drop").sortable({
                  group: 'no-drop',
                    handle: 'i.icon-move',
                      onDragStart: function ($item, container, _super) {
                            // Duplicate items of the no drop area
                                if(!container.options.drop)
                                      $item.clone().insertAfter($item);
                                          _super($item, container);
                                            }
              });


              $('.item-list').sortable({
                group: 'list-group',
                pullPlaceholder: false,
              });


              $(".switch-container").on("click", ".switch", function  (e) {
                var method = $(this).hasClass("active") ? "enable" : "disable";
                $(e.delegateTarget).next().sortable(method);
              });

            </script>
          </body>
