{% extends 'daily/base.html' %}
{% load static %}
{% block includes %}
    <script type="text/javascript" src="{% static 'daily/employee.js' %}"></script>
{% endblock %}
{% block content %}
        
        <div id="form-fields">
          <button type="button" class="btn btn-primary btn-lg"
            id="new-emp-button" onclick="addEmployee()">Add employee</button>
          <span class="csrf">{% csrf_token %}</span>
          <button type="button" class="btn btn-primary btn-lg"
            id="save-button" onclick="updateEmployees()">Save Changes</button>
          <input type="hidden" name="emps-list" id="emps-list"/>

        </div>

        <div class="h-box">
          <table class="table table-bordered" id="daily-table">
            <tbody>
              <tr>
                <td> </td>
                <td>Name</td>
                <td>Category</td>
              </tr>
              {% for emp in employees.all %}
              <tr class="emp">
                <td>{{ emp.id }}</td>
                <td>{{ emp.name }}</td>
                <td>
                  <ol class='sortable_with_drop cat_list'>
                    {% for cat in emp.category.all %}
                    <li class="flex-li cat">{{ cat.name }}</li>
                      {% endfor %}
                  </ol>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <ol class='trash category_trash'>
            <li>
                <div class="lid"></div>
                <div class="lidcap"></div>
                <div class="bin"></div>
                </li>
              </ol>
          <div class="v-box" id="sources">
            <div class="cats-list">
            <h3>categories</h3>
            <ol class='sortable_with_no_drop' id="cats-source">
              {% for cat in cats.all %}
              <li class="flex-li category">{{ cat.name }}</li>
              {% endfor %}
            </ol>
          </div>
          </div>
        
        </div>

      </body>

      {% endblock %}
