input {
  width: 100px;
}

.no-border {
  border: 0px;
}


#new-name {
  min-width: 100px;
  max-width: 100px;
}

#new-time {
  min-width: 70px;
  max-width: 70px;
}

.errors-box {
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
  display: inline-block;
  color: #990000;
}

.flex-li {
  border: 1px solid black;
  margin: 3px auto;
  padding: 3px;
  width: 100px;
  text-align: center;
}

.h-box {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.v-box {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

#sources {
  margin: 0 auto;
}

#form-fields {
  padding: 10px;
}

#save-button {
  //display: none;
  background: green;
}


#daily-table {
  float: left;
  width: auto; 
  margin: 0 auto;
}

ol {
  display: inline-block;
  -webkit-padding-start: 0px;
  list-style-type: none;
  //height: 100%; 
  width: 100%;
  min-height: 30px;
}

ol li {
  float: center;
}


body {
  padding: 50px;
  margin: auto;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}


ol.sortable_with_drop li.placeholder {
  position: relative;
}

ol.sortable_with_drop li.placeholder:before {
  position: absolute;
}

ol.sortable_with_no_drop li.placeholder {
  position: relative;
}

ol.sortable_with_no_drop li.placeholder:before {
  position: absolute;
}


